<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="color">
	<div *ngIf="isAuthenticated">
		<control-cms-featured-contents name="updated"></control-cms-featured-contents>
		<control-cms-featured-contents name="published" status="Published" orderBy="Date"></control-cms-featured-contents>
	</div>
	<control-app-preferences *ngIf="!isAuthenticated"></control-app-preferences>
</ion-content>