<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="color">
	<control-cms-portals-shortcuts *ngIf="isAuthenticated && activeService === 'Portals'"></control-cms-portals-shortcuts>
	<control-cms-portals-featured-contents *ngIf="isAuthenticated && activeService === 'Portals'" name="updated"></control-cms-portals-featured-contents>
	<control-cms-portals-featured-contents *ngIf="isAuthenticated && activeService === 'Portals'" name="published" status="Published" orderBy="Date"></control-cms-portals-featured-contents>
	<control-app-preferences *ngIf="!isAuthenticated && activeService === 'Portals'"></control-app-preferences>
	<control-books-featured *ngIf="activeService === 'Books'"></control-books-featured>
</ion-content>