ion-list > ion-list-header {
	font-weight: bold;
	text-transform: uppercase;
}
ion-list > ion-item {
	cursor: pointer;
}
ion-list > ion-item > ion-label > ion-thumbnail > img {
	border-radius: 5px;
}
ion-list > ion-item > ion-label > span.time {
	font-size: 0.85em;
	padding-top: 5px;
}
ion-list > ion-item > ion-label > div {
	font-size: 0.95em;
	padding-top: 12px;
}
ion-list > ion-item > ion-label > div > span {
	margin-right: 16px;
}
