<ion-list class="ion-padding-end">
	<ion-list-header [color]="color" class="ion-padding-top">
		<ion-label>
			{{ header }}
		</ion-label>
	</ion-list-header>
	<ion-item *ngFor="let content of contents; trackBy: track" [color]="color" (click)="viewAsync($event, content)" class="ion-activatable" detail="false">
		<ion-label>
			<ion-thumbnail class="ion-float-start ion-padding-end">
				<img [src]="content.ThumbnailURI" />
			</ion-thumbnail>
			<span class="time ion-float-end ion-text-right" [hidden]="screenWidth < 768">
				{{ content.Created | date:'h:mm a @ d/M/y' }} <br/> {{ content.LastModified | time:locale }}
			</span>
			<span [class]="'title ' + content.Status">
				{{ content.Title }}
				<ion-icon name="radio" slot="icon-only"></ion-icon>
			</span>
			<div>
				<span>
					<ion-icon name="time" slot="icon-only" color="medium"></ion-icon>
					{{ content.StartDate | date:'d/M/y' }}
				</span>
				<span *ngIf="content.Status === 'Published'">
					<ion-icon name="alarm" slot="icon-only" color="medium"></ion-icon>
					{{ content.PublishedTime | date:'h:mm a @ d/M/y' }}
				</span>
				<span *ngIf="!!content.ContentType || !!content.Category">
					<ion-icon name="color-filter" slot="icon-only" color="medium"></ion-icon>
					{{ content.ContentType || content.Category }}
				</span>
			</div>
		</ion-label>
	</ion-item>
</ion-list>
