<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons *ngIf="!searching" slot="end">
			<ion-button [hidden]="searching" (click)="openSearchAsync()">
				<ion-icon name="search" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title [hidden]="searching">
			{{ title }}
		</ion-title>
		<ion-searchbar [hidden]="!searching"
			(ionChange)="onStartSearch($event)"
			(ionClear)="onClearSearch()"
			(ionCancel)="onCancelSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="pagination || actions">
	<ion-toolbar [color]="configSvc.color">
		<span *ngIf="pagination" slot="start">
			<ion-icon name="color-filter" color="primary" slot="start"></ion-icon>
			<span>
				{{ totalDisplays | number:'':locale }} / {{ totalRecords | number:'':locale }}	
			</span>
		</span>
		<ion-buttons *ngIf="actions" slot="end">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="configSvc.color">
	<ion-fab *ngIf="canUpdate" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateAsync()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
	<ion-list class="ion-padding-end">
		<ion-item *ngFor="let content of contents; trackBy: track" [color]="configSvc.color" [routerLink]="content.routerLink" [queryParams]="content.routerParams" routerDirection="forward" detail="false">
			<ion-label>
				<span class="time ion-float-end" [hidden]="configSvc.screenWidth < 768">
					{{ content.Created | date:'h:mm a @ d/M/y' }} <br/> {{ content.LastModified | date:'h:mm a @ d/M/y' }}
				</span>
				<span>
					{{ content.Title }}
				</span>
				<div>
					{{ content.Summary }}
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onInfiniteScrollAsync()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>