<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="color" class="ion-padding">

	<div *ngFor="let log of logs; trackBy: track">
		<section>
			<span>
				Info: {{ log.ServiceName }} / {{ log.ObjectName }} - Correlation ID: {{ log.CorrelationID }}
			</span>
			<span>
				&nbsp;
			</span>
			<span class="ion-float-end">
				{{ log.Time | date:'h:mm:ss.SSS a @ d/M/y' }}
			</span>
		</section>
		<section *ngIf="log.DeveloperID || log.AppID">
			<span *ngIf="log.DeveloperID">
				Developer ID: {{ log.DeveloperID }}
			</span>
			<span *ngIf="log.AppID">
				App ID: {{ log.AppID }}
			</span>
		</section>
		<section>
			{{ log.Logs }}
		</section>
		<section *ngIf="log.Stack" class="ion-padding-start">
			<label>
				Stack:
			</label>
			<div>
				<i>
					{{ log.Stack }}
				</i>
			</div>
		</section>
	</div>

</ion-content>