div {
	padding: 7.5px 15px;
}
div > h2 {
	font-size: 1.2rem;
	margin-top: 15px;
	margin-bottom: 15px;
}
div > h3 {
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
div > h4 {
	font-size: .9rem;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}
div.apps > div > a {
	display: block;
	clear: both;
	color: var(--ion-color);
	text-decoration: none;
	padding: 7.5px 15px;
	font-size: 1rem;
}
div.apps > div > a > ion-icon {
	margin-right: 15px;
}
div.about > img {
	width: 90px;
	float: left;
	margin-right: 15px;
}
div.about > div,
div.about > section {
	font-size: .8rem;
	padding: 7.5px 0;
}
ion-list > ion-item:first-of-type {
	cursor: pointer;
}