<ion-item [color]="color">
	<input type="file" accept="image/png, image/jpeg" (change)="prepareImage($event)" />
</ion-item>
<ion-item *ngIf="!isNativeApp" [color]="color">
	<div>
		<div>
			<image-cropper format="png"
				[imageChangedEvent]="htmlCropper.event"
				[maintainAspectRatio]="true"
				[aspectRatio]="1 / 1"				
				(imageCropped)="whenImageOfHtmlCropperWasCropped($event)"></image-cropper>
		</div>
		<div>
			<img *ngIf="htmlCropper.cropped" [src]="htmlCropper.cropped"/>
			<img *ngIf="!htmlCropper.cropped && htmlCropper.current" [src]="htmlCropper.current"/>
		</div>
	</div>
</ion-item>