ion-item > ion-label > label {
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	font-size: 90%;
	text-align: right;
	color: var(--ion-color-medium);
}
ion-item > ion-label > label > span,
ion-item > ion-label > span > span {
	display: block;
	margin-top: 10px;	
}