<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="color" class="ion-padding">
	<app-form *ngIf="config"
		[color]="color"
		[form]="form"
		[config]="config"
		[controls]="controls"
		[asViewControls]="true"></app-form>
	<ion-buttons class="ion-padding">
		<ion-button color="danger" (click)="deleteAsync()">
			<ion-icon icon="trash" slot="start"></ion-icon>
			{{ button }}
		</ion-button>
	</ion-buttons>
</ion-content>