<ion-app>

	<ion-split-pane [when]="isSidebarShown" contentId="main">

		<ion-menu side="start" menuId="start" contentId="main">

			<ion-header>
				<ion-menu-toggle auto-hide="false">
					<ion-toolbar [color]="color">
						<ion-thumbnail *ngIf="sidebar.header.thumbnail" slot="start" (click)="sidebar.header.onThumbnailClick($event, sidebar)">
							<img [src]="sidebar.header.thumbnail" />
						</ion-thumbnail>
						<ion-title (click)="sidebar.header.onTitleClick($event, sidebar)">
							{{ sidebar.header.title }}
						</ion-title>
					</ion-toolbar>
				</ion-menu-toggle>
			</ion-header>

			<ion-footer>
				<ion-toolbar [color]="color">
					<ion-buttons *ngIf="sidebar.footer.length > 0" slot="start">
						<ion-button *ngFor="let item of sidebar.footer; trackBy: trackSidebarItem" fill="clear" [title]="item.title" [color]="sidebar.active === item.name ? 'primary' : 'medium'" (click)="item.onClick($event, item.name, sidebar)">
							<ion-icon [name]="item.icon" slot="icon-only"></ion-icon>
						</ion-button>
					</ion-buttons>
					<ion-buttons slot="end">
						<ion-button fill="clear" [color]="sidebarSignColor" (click)="toggleSidebar()">
							<ion-icon name="trail-sign" slot="icon-only"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-footer>

			<ion-content [color]="color">

				<ion-list [hidden]="sidebar.active === 'notifications' || sidebar.active === 'preferences'" class="ion-margin-vertical" lines="full">

					<ion-menu-toggle auto-hide="false" [hidden]="sidebar.active === 'portals'">
						<ion-item *ngFor="let item of sidebar.top; trackBy: trackSidebarItem" [routerLink]="item.link" [queryParams]="item.params" [routerDirection]="item.direction" [color]="color" (click)="item.onClick($event, item, sidebar)" detail="false">
							<ion-icon *ngIf="item.icon" [name]="item.icon" slot="start"></ion-icon>
							<ion-label>
								{{ item.title }}
							</ion-label>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle *ngFor="let menu of sidebar.menu; let menuIndex=index; trackBy: trackSidebarItem" [hidden]="sidebar.active !== menu.name" auto-hide="false">
						<ion-list-header *ngIf="menu.parent && menu.parent.title" [color]="color" (click)="menu.parent.onClick($event, menu.parent, sidebar)" class="ion-padding-top">
							<ion-label>
								<ion-icon *ngIf="menu.parent.expandable" name="chevron-back" slot="start"></ion-icon>
								{{ menu.parent.title }}
							</ion-label>
						</ion-list-header>
						<div *ngFor="let item of menu.items; let itemIndex=index; trackBy: trackSidebarItem">
							<ion-item [color]="color" (click)="item.onClick($event, { menuIndex: menuIndex, itemIndex: itemIndex }, sidebar)" class="ion-activatable" detail="false">
								<ion-icon *ngIf="item.icon" [name]="item.icon" [color]="item.iconColor" [slot]="item.iconSlot" (click)="item.onClick($event, { menuIndex: menuIndex, itemIndex: itemIndex, expand: true }, sidebar)"></ion-icon>
								<ion-label>
									{{ item.title }}
								</ion-label>
							</ion-item>
							<ion-list *ngIf="sidebar.children && item.children && item.children.length > 0" [hidden]="!item.expanded" class="children">
								<ion-item *ngFor="let child of item.children; let childIndex=index; trackBy: trackSidebarItem" [color]="color" (click)="child.onClick($event, { menuIndex: menuIndex, itemIndex: itemIndex, childIndex: childIndex }, sidebar)" class="ion-activatable" detail="false">
									<ion-icon *ngIf="child.icon" [name]="child.icon" [color]="child.iconColor" (click)="child.onClick($event, { menuIndex: menuIndex, itemIndex: itemIndex, childIndex: childIndex, expand: true }, sidebar)" slot="end"></ion-icon>
									<ion-label>
										{{ child.title }}
									</ion-label>
								</ion-item>
							</ion-list>
						</div>
					</ion-menu-toggle>

				</ion-list>

				<control-app-preferences *ngIf="sidebar.active === 'preferences'"></control-app-preferences>

			</ion-content>

		</ion-menu>

		<ion-router-outlet id="main"></ion-router-outlet>

	</ion-split-pane>

</ion-app>