<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-back-button *ngIf="searching" text=""></ion-back-button>
			<ion-back-button *ngIf="!redordering && !searching" text=""></ion-back-button>
			<ion-button *ngIf="redordering" fill="clear" color="secondary" [disabled]="processing" (click)="cancelReorderAsync()">
				{{ buttons.cancel }}
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="redordering || !searching" slot="end">
			<ion-button *ngIf="!redordering && !searching" (click)="openSearchAsync()">
				<ion-icon name="search" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button *ngIf="redordering" fill="clear" color="primary" [disabled]="processing" (click)="doReorderAsync()">
				{{ buttons.save }}
			</ion-button>
		</ion-buttons>
		<ion-title [hidden]="searching">
			{{ title }}
		</ion-title>
		<ion-searchbar [hidden]="!searching"
			(ionChange)="onStartSearch($event)"
			(ionClear)="onClearSearch()"
			(ionCancel)="onCancelSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="!redordering && (pagination || actions)">
	<ion-toolbar [color]="color">
		<span *ngIf="pagination" slot="start">
			<ion-icon name="globe" color="primary" slot="start"></ion-icon>
			<span>
				{{ totalDisplays | number:'':locale }} / {{ totalRecords | number:'':locale }}	
			</span>
		</span>
		<ion-buttons *ngIf="actions" slot="end">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="color">
	<ion-fab *ngIf="!redordering && !searching" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createAsync()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
	<ion-list *ngIf="!redordering" class="ion-padding-end" #originalItems>
		<ion-item-sliding *ngFor="let portlet of portlets; trackBy: track">
			<ion-item [color]="color" (click)="editAsync($event, portlet)" class="ion-activatable" detail="false">
				<ion-buttons slot="end">
					<ion-button [title]="labels.advancedEdit" fill="clear" color="medium" (click)="editAsync($event, portlet, true)">
						<ion-icon name="settings" slot="icon-only"></ion-icon>
					</ion-button>
				</ion-buttons>
				<ion-label>
					<span class="time ion-float-end ion-text-right" [hidden]="screenWidth < 768">
						{{ portlet.Created | date:'h:mm a @ d/M/y' }} <br/> {{ portlet.LastModified | date:'h:mm a @ d/M/y' }}
					</span>
					<span>
						{{ portlet.Title }}
					</span>
					<div>
						{{ portlet.listingInfo }}
					</div>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="dark" (click)="editAsync($event, portlet, true)">
					<ion-icon name="settings" slot="icon-only" title="{{labels.advancedEdit}}"></ion-icon>
				</ion-item-option>
				<ion-item-option color="primary" (click)="editAsync($event, portlet)">
					<ion-icon name="create" slot="icon-only" title="{{labels.edit}}"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-infinite-scroll *ngIf="!redordering" threshold="288px" position="bottom" (ionInfinite)="onInfiniteScrollAsync()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<div *ngIf="redordering">
		<ion-list *ngFor="let zone of zones; trackBy: trackReorderItem" #reorderingIems>
			<ion-list-header [color]="color">
				<ion-label>
					{{ zone.Title }}
				</ion-label>
			</ion-list-header>
			<ion-reorder-group (ionItemReorder)="onReordered($event, zone.ID)" disabled="false">
				<ion-item *ngFor="let item of zone.Children; trackBy: trackReorderItem" [color]="color">
					<ion-label>
						{{ item.Title }}
					</ion-label>
					<ion-reorder slot="end"></ion-reorder>
				</ion-item>
			</ion-reorder-group>
		</ion-list>
	</div>
</ion-content>