<ion-header>
	<ion-toolbar [color]="configSvc.color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons *ngIf="button" slot="end">
			<ion-button *ngIf="!canModerate" fill="clear" color="primary" (click)="moderateAsync()">
				{{ button }}
			</ion-button>
			<ion-button *ngIf="canEdit && !canModerate" fill="clear" color="primary" (click)="updateAsync()">
				{{ button }}
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="configSvc.color" class="ion-padding">
	<app-form *ngIf="formConfig"		
		[color]="configSvc.color"
		[config]="formConfig"
		[segments]="formSegments"
		[controls]="formControls"
		[asViewControls]="true"
		(init)="onFormInitialized()"></app-form>
</ion-content>