<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end" class="ion-padding-end">
			<ion-button (click)="refreshAsync()">
				<ion-icon name="refresh" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button>
				<ion-checkbox (ionChange)="onChanged($event, true)" #selectAll></ion-checkbox>
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="pagination">
	<ion-toolbar [color]="color">
		<span slot="start">
			<ion-icon name="file-tray-full" color="primary" slot="start"></ion-icon>
			<span>
				{{ totalRecords | number:'':locale }}/{{ pagination.TotalRecords | number:'':locale }}	
				({{ pageNumber | number:'':locale }}/{{ pagination.TotalPages | number:'':locale }})
			</span>
		</span>
		<ion-buttons slot="end">
			<ion-button (click)="filterAsync()">
				<ion-icon [color]="fcolor" name="funnel" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button [disabled]="selected.size < 1" (click)="viewLogsAsync()">
				<ion-icon name="documents" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="color">
	<ion-list class="ion-padding-end">
		<ion-item *ngFor="let log of logs; trackBy: track" [color]="color" detail="false">
			<ion-checkbox [value]="log.ID" [checked]="selected.contains(log.ID)" (ionChange)="onChanged($event)" slot="end"></ion-checkbox>
			<ion-label>
				<label class="time" class="ion-float-end">
					<ion-icon icon="time" slot="start"></ion-icon>
					<span>
						{{ log.Time | date:'h:mm:ss.SSS a @ d/M/y' }}
					</span>
				</label>
				<span>
					{{ info(log) }}
				</span>
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onInfiniteScrollAsync()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>