<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
		<ion-buttons *ngIf="!searching" slot="end">
			<ion-button [hidden]="searching" (click)="openSearchAsync()">
				<ion-icon name="search" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title [hidden]="searching">
			{{ title }}
		</ion-title>
		<ion-searchbar [hidden]="!searching"
			(ionChange)="onStartSearch($event)"
			(ionClear)="onClearSearch()"
			(ionCancel)="onCancelSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer *ngIf="pagination || actions">
	<ion-toolbar [color]="color">
		<span *ngIf="pagination" slot="start">
			<ion-icon name="color-filter" color="primary" slot="start"></ion-icon>
			<span>
				{{ totalDisplays | number:'':locale }} / {{ totalRecords | number:'':locale }}	
			</span>
		</span>
		<ion-buttons *ngIf="actions" slot="end">
			<ion-button color="primary" (click)="showActionsAsync()">
				<ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content [color]="color">
	<ion-fab *ngIf="canUpdate" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createAsync()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
	<ion-list class="ion-padding-end">
		<ion-item-sliding *ngFor="let item of items; trackBy: track">
			<ion-item [color]="color" (click)="viewAsync($event, item)" class="ion-activatable" detail="false">
				<ion-label>
					<ion-thumbnail class="ion-float-start ion-padding-end">
						<img [src]="item.thumbnailURI" />
					</ion-thumbnail>
					<span class="time ion-float-end" [hidden]="screenWidth < 768">
						{{ item.Created | date:'h:mm a @ d/M/y' }} <br/> {{ item.LastModified | time:locale:'h:mm a @ d/M/y' }}
					</span>
					<span class="title">
						{{ item.Title }}
						<ion-icon name="radio" slot="icon-only" [class]="item.Status"></ion-icon>
					</span>
					<div>
						{{ item.Summary }}
					</div>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="primary" (click)="viewAsync($event, item)">
					<ion-icon name="eye" slot="top"></ion-icon>
					{{ buttons.view }}
				</ion-item-option>
				<ion-item-option *ngIf="canUpdate" color="secondary" (click)="editAsync($event, item)">
					<ion-icon name="create" slot="top"></ion-icon>
					{{ buttons.edit }}
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onInfiniteScrollAsync()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>