<ion-header>
	<ion-toolbar [color]="color">
		<ion-buttons slot="start">
			<ion-button fill="clear" color="secondary" [disabled]="processing" (click)="cancelAsync()">
				{{ buttons.cancel }}
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button fill="clear" color="primary" [disabled]="processing" (click)="saveAsync()">
				{{ buttons.save }}
			</ion-button>
		</ion-buttons>
		<ion-title>
			{{ title }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [color]="color" class="ion-padding">
	<app-form *ngIf="formConfig"
		[color]="color"
		[form]="form"
		[config]="formConfig"
		[segments]="formSegments"
		[controls]="formControls"
		(init)="onFormInitialized()"></app-form>
</ion-content>